////////////////////////////////////////////////////////////////////////////////
//
// This file is part of rgrep.
// rgrep is based on PCRE2 (see pcre2_16\LICENCE).
//
// Copyright 2018-2021 Rocco Matano
//
// Permission is hereby granted, free of charge, to any person obtaining a
// copy of this software and associated documentation files (the "Software"),
// to deal in the Software without restriction, including without limitation
// the rights to use, copy, modify, merge, publish, distribute, sublicense,
// and/or sell copies of the Software, and to permit persons to whom the
// Software is furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included
// in all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
// THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
// DEALINGS IN THE SOFTWARE.
//
////////////////////////////////////////////////////////////////////////////////

#include "windows.h"
#include "resource.h"
#include "../app_version.h"

////////////////////////////////////////////////////////////////////////////////

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "com_ctrl.manifest"

////////////////////////////////////////////////////////////////////////////////

1 VERSIONINFO
    FILEVERSION APP_VERSION_HI,APP_VERSION_LO,APP_REVISION,APP_BUILD_NUMBER
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", COMPANY_NAME
            VALUE "FileDescription", PRODUCT_NAME
            VALUE "FileVersion", APP_VERSION_STRING
            VALUE "LegalCopyright", COPYRIGHT
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0, 0x4b0
    END
END

////////////////////////////////////////////////////////////////////////////////

IDI_RGREP                     ICON                    "rgrep.ico"

////////////////////////////////////////////////////////////////////////////////

IDD_RGREP DIALOGEX 0, 0, 433, 248
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
      WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "rgrep"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Locat&ion",IDC_LOCATION_GROUP,7,7,419,29
    COMBOBOX        IDC_SEARCH_PATH,14,17,383,240,
                    CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "...",IDC_SEARCH_PATH_BROWSE,404,17,15,14
    GROUPBOX        "Search term",IDC_SEARCH_GROUP,7,38,419,74
    CONTROL         "Rege&x search",IDC_RADIO_REGEX,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,14,49,86,10
    CONTROL         "&Literal search",IDC_RADIO_LITERAL,"Button",
                    BS_AUTORADIOBUTTON | WS_TABSTOP,108,49,93,10
    LTEXT           "Search f&or:",IDC_SERACH_FOR_LABEL,14,62,46,8
    COMBOBOX        IDC_SEARCH_TEXT,80,61,339,240,
                    CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Replace &with:",IDC_REPLACE_TEXT_LABEL,14,80,64,8
    COMBOBOX        IDC_REPLACE_TEXT,80,78,339,240,
                    CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    CONTROL         "&Case-sensitive",IDC_CASE_SENSITIVE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,14,95,85,10
    CONTROL         "W&hole word",IDC_WHOLE_WORD,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,101,95,85,10
    CONTROL         "Dot matches &all",IDC_DOT_ALL,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,188,95,85,10
    CONTROL         "&Multiline anchors",IDC_MULTI_LINE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,275,95,85,10
    GROUPBOX        "Scope",IDC_SCOPE_GROUP,7,114,419,44
    LTEXT           "&Exclude dirs (Regex):",IDC_EXCLUDE_LABEL,14,124,73,8
    COMBOBOX        IDC_EXCLUDE_PATTERN,91,122,122,240,
                    CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Include s&ubfolders",IDC_SEARCH_SUBFOLDERS,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,14,141,89,10
    CONTROL         "Include binar&y files",IDC_SEARCH_BINARY,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,108,141,86,10
    CONTROL         "Create &backup files",IDC_CREATE_BACKUP,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP | WS_GROUP,202,141,92,10
    LTEXT           "File &Names:\n'|' to separate patterns, prefix '-' excludes",
                    IDC_INCLUDE_LABEL,231,122,66,34
    COMBOBOX        IDC_INCLUDE_PATTERN,297,122,122,240,
                    CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Re&gex",IDC_INCLUDE_REGEX,"Button",
                    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,297,141,66,10
    CONTROL         "Wil&dcard",IDC_INCLUDE_WILDCARD,"Button",
                    BS_AUTORADIOBUTTON | WS_TABSTOP,367,141,52,10
    PUSHBUTTON      "Settings",IDC_SETTINGS,21,163,62,14
    CONTROL         "",IDC_PROGRESS,"msctls_progress32",0,88,163,191,14
    PUSHBUTTON      "Replace",IDC_DO_REPLACE,284,163,62,14
    DEFPUSHBUTTON   "&Search",IDC_DO_SEARCH,350,163,62,14
    GROUPBOX        "Search &results",IDC_SEARCH_RESULTS_GROUP,7,179,419,62
    CONTROL         "",IDC_RESULT_LIST,"SysListView32",
                    LVS_REPORT | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP,
                    14,190,405,36
    LTEXT           "",IDC_SEARCH_INFO,14,230,405,8
END

////////////////////////////////////////////////////////////////////////////////

#define SETTINGS_STR_EDIT \
    "%path% is replaced with the path of the file, %line% with \
    the line to jump to.\n\
    e.g. ""c:\\program files\\ultraedit\\uedit64.exe"" ""%path%/%line%"""

#define SETTINGS_STR_VIEW \
    "%path% is replaced with the path of the file, %line% with \
    the offset to jump to.\n\
    e.g. ""c:\\program files\\util\\rhv.exe"" -o %line% ""%path%"""

IDD_SETTINGS DIALOGEX 0, 0, 317, 163
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "rgrep Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Editor",IDC_STATIC,7,7,303,61
    LTEXT           "Command line to start an editor at a specific line:",
                    IDC_STATIC,13,19,288,8
    EDITTEXT        IDC_EDITOR_CMD,13,31,269,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_SEARCH_PATH_BROWSE_EDIT,286,31,15,14
    LTEXT           SETTINGS_STR_EDIT,IDC_STATIC,13,47,288,17
    GROUPBOX        "Viewer",IDC_STATIC,7,75,303,61
    LTEXT           "Command line to start a hex-viewer at a specific offset:",
                    IDC_STATIC,13,87,288,8
    EDITTEXT        IDC_VIEWER_CMD,13,99,269,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_SEARCH_PATH_BROWSE_VIEW,286,99,15,14
    LTEXT           SETTINGS_STR_VIEW,IDC_STATIC,13,115,288,17
    LTEXT           "CSV seperator:",IDC_STATIC,7,146,49,8
    EDITTEXT        IDC_CSV_SEP,59,143,25,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,205,143,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,261,143,50,14
END


////////////////////////////////////////////////////////////////////////////////

IDM_RESULT_LIST MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Open with &editor/viewer",    IDC_OPEN_EDITOR
        MENUITEM "Open containing &folder",     IDC_OPEN_FOLDER
        MENUITEM "Copy &path",                  IDC_COPY_PATH
        MENUITEM "Copy file&name",              IDC_COPY_FILENAME
        MENUITEM "Copy &text result",           IDC_COPY_TEXT
        MENUITEM "Copy &result line",           IDC_COPY_RESULT
        MENUITEM "Copy result as &CSV",         IDC_COPY_CSV_RESULT
    END
END

////////////////////////////////////////////////////////////////////////////////
